<div class="HomeForm" align="" center>
  <h1 align=" center">Pick the players</h1>
  <body>

  <form [formGroup]="form">
    <select class="PlayerList"
            formControlName="players"
            multiple
            title="Players list"
            name="players"
            id="3">

      <option *ngFor="let p of players" [value]="p.uid">
        <div>
          {{p.displayName}}
        </div>

      </option>
    </select>
    <p><br></p>
    <p>
    <h2><label *ngIf="form.invalid && form.touched">{{
      form.get("players")?.getError("minRequired")
      }}</label>
    </h2>

    <button class="button" (click)="goHome()"> Home</button>

    <button class="button" [disabled]="form.invalid" (click)="submit(this)" type="submit">Create Game</button>

    <button class="button" (click)="logOut()"> LogOut</button>


  </form>
  </body>

</div>



