<div class="form-group">
  <h1>Pick the players</h1>


  <body>

  <form [formGroup]="form">


    <select class="PlayerList"
            formControlName="players"
            multiple
            title="Players list"
            name="players"
            id="3">

      <option *ngFor="let p of players" [value]="p.uid">
        <div>
          {{p.displayName}}
        </div>

      </option>
    </select>

    <p>
    </p>


    <p>
    </p>

    <button class="button" [disabled]="form.invalid" (click)="submit(this)" type="submit">New game</button>
    <!--
         <button class="button" (click)="logOut()"> LogOut</button>
         -->

  </form>
  </body>
  <h2><label *ngIf="form.invalid && form.touched">{{
    form.get("players")?.getError("minRequired")
    }}</label>
  </h2>
</div>



