.players {

}
body {

  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  min-height: 20vh;
  display: -webkit-box;
  display: flex;
  background-image: url("../../../../../assets/BG_clash.jpg");
 }

 title {
 // background-image: url("../../../../../assets/Title_Marvel.jpg");
  background-color: #cccccc;
 }

.error {
  color: red;
}

.cont{
  background: url("../../../../../assets/BG_clash.jpg");
}
.button{
  padding: 16px;
  text-justify: distribute;
  Text-align: center;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
}

.button:hover {


  background: rgba(255, 0, 0, 0.49);
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.49), #ffffff);
  background-image: -moz-linear-gradient(top,rgba(255, 0, 0, 0.49), #ffffff);
  background-image: -ms-linear-gradient(top, rgba(255, 0, 0, 0.49), #ffffff);
  background-image: -o-linear-gradient(top, rgba(255, 0, 0, 0.49), #ffffff);
  background-image: linear-gradient(top, rgba(255, 0, 0, 0.49), #ffffff);
  text-decoration: none;
}





