.jugadores {
  width: 200px;
}
body {
 // background-image: url("../../../../../assets/BG_clash.jpg");
  background-color: #cccccc;
 }

 title {
 // background-image: url("../../../../../assets/Title_Marvel.jpg");
  background-color: #cccccc;
 }

.error {
  color: red;
}



