<title>
  <h1>Marvel Card Game</h1>
</title>

<body>

<form [formGroup]="form" (submit)="sendForm()">


  <select formControlName="players"
          multiple
          title="Players list"
          name="players"
          id="3">

    <option *ngFor="let p of players" [value]="p.uid">{{p.displayName}}</option>
  </select>

  <p>

  </p>

  <label *ngIf="form.invalid && form.touched">{{
    form.get("players")?.getError("minRequired")
    }}</label>

  <p>
  </p>
  <button [disabled]="form.invalid" type="submit" (click)="submit()">New game</button>

  <button class="logOutBtn" (click)="logOut()"> LogOut</button>
  <button [disabled]="form.invalid" type="submit" (click)="board()">ir a tablero</button>
</form>
</body>
