.error-card {
  padding-top: 100px;
  height: 100vh;
  // background-color: #484A4A;

}

.error-image {
  background-image: url("../../../../../assets/BG_Error2.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}
