<div class="cont">


  <div class="HomeGroup" align="center">
    <h2>HOME</h2>
    <div class="title" align="left">
      <h2>Instructions</h2>
      <p>card game, game played for pleasure or gambling (or both) with one or more decks of playing cards.
        Games using playing cards exploit the fact that cards are individually identifiable from one side only,
        so that each player knows only the cards he holds and not those held by anyone else.</p>
      <p>To play, you must be registered, even the players </p>
    </div>


    <button class="button" (click)="CreateGame()">Create Game</button>

    <button class="button" (click)="lobby()">Go Lobby</button>
    <!--
        <button class="button" (click)="logOut()"> LogOut</button>
        -->
  </div>
</div>
