<div class="container">

  <div class="cont-info">
    <p>Ronda </p>
    <p>Jugadores </p>
  </div>

  <div class="cont-estado">
    <p class="tiempo">Tiempo:</p><p></p>
    <button   class="btn">INICIAR</button>
  </div>

  <div class="cont-stick">

  </div>
</div>

<div class="dashboard">

  <div class="dashboard-card">
    <p>Partida</p>
    <div class="cards">
      <div ngFor="let card of cartasDelTablero" class="card">
        <img class="img-card" alt="img" />
      </div>
    </div>
  </div>

  <div class="dashboard-mazo">
    <p>Mazo</p>
    <div class="cards-mazo">
      <div  class="card-mazo">
      <button  class="btn-poner">PONER</button>
      <img class="img-card" alt="img"  />
      <div class="poder"><p>Poder:</p><p class="power"></p></div>
    </div>
  </div>
</div>

</div>



