<html>

<body class="mainContainer">
<div>
  <H1 align=" center"> ARENA {{boardInfo?.tablero?.id}}</H1>
  <div class="container">

    <div class="cont-info">
      <p>Ronda  {{boardInfo?.ronda?.numero}} </p>
      <p>Jugadores  {{boardInfo?.ronda?.jugadores?.length}}  </p>
    </div>

    <div class="cont-estado">


      <p class="tiempo"> Tiempo: {{tiempo}}</p>

      <button class="btn" (click)="initGame()" >INICIAR</button>
    </div>

    <div class="cont-stick">

    </div>
  </div>

  <div class="dashboard">

    <div class="dashboard-card">
      <p>Partida</p>
      <div class="cards">
        <div ngFor="let card of cartasDelTablero" class="card">
          <img class="img-card" src="assets/BG_Home.jpg" alt="img"/>
        </div>
      </div>
    </div>

    <div class="dashboard-mazo">
      <p>Mazo</p>

      <figure class="image-block" *ngFor="let cartas of cartasUser">
        <h1>{{cartas.nombre}}</h1>
        <img
          src={{cartas.url}}
          alt=""/>
        <figcaption>
          <h3>
            POWER !!!
          </h3>
          <p >{{Math.round((banner)?cartas.poder/2:cartas.poder)}}</p>
          <button (click)="ponerCarta(cartas.cartaId)">
          Bet Card
          </button>
        </figcaption>
      </figure>


      <!--
            <div class="cards-mazo">
              <div class="card"   *ngFor="let cartas of cartasUser" (click)="ponerCarta(cartas.cartaId)">
                <h2 class="card-title"></h2>
                <img src="" alt="">
                <p class="card-desc">POWER:</p>
              </div>
            </div>
          </div>

        </div>
      -->
    </div>
  </div>
</div>
</body>
</html>
