<div class="container">


  <div class="background"></div>
  <div class="container_body">
    <span class="title"> Games Available</span>

    <ul name="games_availables" id="games_availables">

      <li class="option_game" *ngFor="let game of dataGames; let i = index" (click)="goToGame(game.id)">
        <p class="option_game-title">Arena {{i+1}}</p>
        <p>{{game.cantidadJugadores}} Players</p>

      </li>

    </ul>
    <span class="info">Select the Arena to  Begin</span>

  </div>

  <button class="button" (click)="goHome()"> Home </button>


</div>


